<div class="container">
  <!-- MAIN MENU -->
  <hr>
  <div class="row mt-2 mb-2">
    <div class="col-sm-12">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link disabled" href="/rental/dashboard">RENTAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn-dark" href="/client/dashboard">CLIENTS</a>
        </li>
        <li class="nav-item">
          <a class=" nav-link disabled" href="/inventory/dashboard">INVENTORY</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <!-- SUB MENU -->
  <div class="row mt-2 mb-2">
    <div class="col-sm-12">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link active btn-dark" href="/rental">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/client/list">CLIENT LIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/client/new">CREATE CLIENT</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>

  <!-- START CODING HERE -->
        <div class="container">
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Client ID#</td>
                                <td>Name</td>
                                <td>Email</td>
                                <td>Phone</td>
                                <td>Address</td>
                                <td>City</td>
                                <td>State</td>
                                <td>Zip Code</td>
                            </tr>
                        </thead>
                        <tbody>
                            <div>
                                {{#each client}}
                                <tr>
                                    <td>{{this.client_id}}</td>
                                    <td>{{this.client_name}}</td>
                                    <td>{{this.client_email}}</td>
                                    <td>{{this.client_phone}}</td>
                                    <td>{{this.client_address1}}</td>
                                    <td>{{this.client_city}}</td>
                                    <td>{{this.client_state}}</td>
                                    <td>{{this.client_zip}}</td>
                                </tr>
                                {{/each}}
                            </div>
                        </tbody>
                    </table>
                </div>
        </div>

</div>
