<div class="container">
  <!-- SUB MENU -->
  <div class="row mt-2 mb-2">
    <div class="col-sm-12">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link active btn-dark" href="/inventory/list">INVENTORY LIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/inventory/new">NEW INVENTORY</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>

  <!-- START CODING HERE -->

          <div class="row">
              <div class="col-lg-12">
                  <label for="inputType" class= "justify-content-center" class="col-md-10 control-label">Inventory Search</label>
                      <input class="col-md-10" type="text" id="itemSearch" onkeyup="search()" placeholder="Search for items.." title="Type in a name">
              </div>
            </div>

          <div class="container">
                <div>
                    <table class="table table-striped" id ="inventoryTable">
                        <thead>
                            <tr>
                                <th>Product ID#</th>
                                <th>Product Name</th>
                                <th>Inventory Quantity</th>
                                <th>Available Now</th>
                                <th>Product Image</th>
                                <th>Price Per Day(PPD)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div>
                              {{#each inventory}}
                                <tr>
                                    <td>{{this.product_id}}</td>
                                    <td>{{this.product_name}}</td>
                                    <td>{{this.inventory_qty}}</td>
                                    <td>{{this.available_inventory}}</td>
                                    <td>{{this.product_image}}</td>
                                    <td>{{this.rentalPrice_day}}</td>
                                </tr>
                              {{/each}}
                            </div>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>

</div>
<!-- **************************************************
           EDIT TO POINT TO YOUR .JS HERE:
*****************************************************-->
<script type="text/javascript" src="/js/inventory.js"></script>